
  
  .connect h3 {
    color: black;
    margin-left: 20px;
    
  }
  .connect p{
    margin-left: 20px;
    font-size: 20px;
  }
  
  .connectContainer{
    margin-top: 50px;
    margin-left: 30px;
   
   
  }
  
  .connect-underline {
    height: 3px;
    background-color:  palevioletred;
    width: 55%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .connect-links {
    display: flex;
    flex-wrap: row nowrap;
    /* justify-content: flex-end; */
    column-gap: 10px;
    margin-top: 18px;
    margin-left: 20px;
  }
  
  .connect-links img {
    width: 24px;
    height: 24px;
    margin-top: -1px;
  }
  
  .connect-links img:hover {
    cursor: pointer;
  }
  
  .connect-links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  
  .connect-links a:hover {
    font-weight: 400;
    color: #735d78;
  }
  #resume-button {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: white;
    background-color: #735d78;
    width: 10%;
    padding: 8px 4px 8px 4px;
    margin-top: 5px;
    text-align: center;
   
  }
  
  #resume-button:hover {
    background-color: palevioletred;
   
  }