.portfolio-container {
    text-align: right;
  }
  
  .portfolio-container h3 {
    color: black;
    margin-right: 20px;
  }
  
  .portfolio-underline {
    height: 3px;
    background-color: palevioletred;
    width: 55%;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .project__wrapper{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    text-align: center;

   
}
.projectImg{
    width: 30%;
    margin-top: 20px;
    display: flex;
    /* flex-wrap: row nowrap; */
    justify-content: space-between;
    text-align: center;
  
 }
.project__description{
   text-align: center;

}
